.tab-pane *.tab-header-area *.tab-header-background {

 
}

.tab-pane {
  -fx-tab-min-width:200px;
  -fx-tab-max-width:200px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
  
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 13;
  -fx-background-color: aliceblue ;
  -fx-border-style:solid; 
  -fx-padding: 1;
}

.tab:selected {
    -fx-background-color:#d7fafa ;
    -fx-border-style:solid; 
    -fx-padding: 1;
}

.table-view .table-cell{
   /* -fx-font-weight:bold;*/
    -fx-font-size:13px;          
 
}

.table-view .table-column{
    -fx-alignment:center;
}


.table-view .column-header {
  -fx-font-size:13px;  
} 
